@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
main {
  width: 963px;
  height: 3700px;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h1 {
  margin-left: 10px;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}

li:hover {
  cursor: url("./img/img-section-4/Vector.png"), auto;
  color: #00cf95;
  border-bottom: #00cf95 solid 3px;
}

/* seccion 1 */
.seccion-1 {
  margin-top: 84px;
  display: flex;
}
.seccion-1-1 {
  margin-left: 40px;
  width: 50%;
}
.seccion-1-1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
}
.seccion-1-1 h2 span {
  color: #00cf95;
}
.parrafo_gracias {
  width: 80%;
  border-left: #00cf95 solid 3px;
  padding: 10px;
  line-height: 24px;
}
.button_logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.button_logos button {
  width: 30%;
  height: 20%;
  background: #6d0ad3;
  color: white;
  padding: 15px 25px;
  border: none;
}
.button_logos {
  display: flex;
  justify-content: flex-start;
}
.iconos_contacto {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.iconos_contacto img {
  margin-left: 10px;
}
.seccion-1-2 {
  width: 50%;
  display: flex;
}
.circle {
  width: 320px;
  height: 320px;
  background-color: #d1ffa2;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
}
.foto_perfil {
  width: 302px;
  height: 302px;
}
.iconos_seguidores {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.flecha {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}
.flecha p {
  margin: 0 auto;
  color: #00cf95;
}
.flecha_verde {
  margin: 0 auto;
}

/* seccion 2 */
.seccion-2 {
  margin-top: 35px;
}
.seccion-2 h2 {
  color: #0098ef;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.doble {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #d1ffa2 solid 3px;
}
.doble img {
  width: 100%;
  height: 100%;
}
.cartilla {
  position: absolute;
  background: rgba(109, 10, 211, 0.8);
  width: 83%;
  height: 83%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.doble:hover > .cartilla {
  opacity: 1;
  visibility: visible;
}
.doble:hover {
  border: #00cf95 solid 3px;
  border-radius: 5px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}
.cartilla p {
  color: white;
  margin-left: 20px;
}
.cartilla h3 {
  color: white;
  margin-left: 20px;
  font-size: 18px;
  width: 81px;
  height: 24px;
}
.cartilla p {
  margin-top: 5px;
  font-size: 13px;
  width: 126px;
  height: 39px;
  line-height: 20px;
}
.skills {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills span {
  color: #580aaf;
  background-color: #d1ffa2;
  border-radius: 7px;
  padding: 5px;
  margin-top: 5px;
  font-size: 11px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

/* seccion3 */

.seccion-3 {
  margin-top: 105px;
}
.seccion-3 h2 {
  color: #0098ef;
}
.card_service {
  height: 750px;
  display: grid;
  grid-template-columns: 310px 310px;
  grid-template-rows: 220px 220px 220px;
  grid-gap: 18px;
  justify-content: center;
  align-content: center;
}

.cuadro {
  position: relative;
  width: 308px;
  height: 218px;
  background-color: #00cf95;
  border: #d1ffa2 solid 3px;
}
.cuadro div {
  position: absolute;
  background-color: #d1ffa2;
  width: 146px;
  height: 48px;
  margin-top: 150px;
  margin-left: 158px;
  border-radius: 8px 0px 0px 8px;
}
.cuadro div p {
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
  color: #5a0cb0;
  font-family: poppins;
}
.cuadro figure {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 16.67%;
  bottom: 12.5%;
}
.cuadro:hover {
  border: #5a0cb0 solid 3px;
  border-radius: 5px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}

.cuadro:hover > div {
  background-color: #580aaf;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}

.cuadro:hover > div > p {
  color: white;
}
/* seccion 04 */
.seccion_blog {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 500px;
  justify-content: center;
  grid-gap: 30px;
}
.seccion-4 {
  margin-top: 90px;
}
.seccion-4 h2 {
  color: #0098ef;
  font-size: 28px;
}
.seccion-4 h3 {
  border-left: #c4c4c4 solid 4px;
  padding-left: 10px;
  font-size: 28px;
  margin-left: 5px;
}
.seccion-4 h4 {
  border-left: #c4c4c4 solid 4px;
  padding-left: 10px;
  font-size: 12px;
  margin-left: 5px;
}

.seccion_blog p {
  font-size: 11px;
  line-height: 20px;
  margin-top: 15px;

  padding: 5px;
}

.cuadrado_1 {
  display: grid;
  grid-template-columns: 310px;
  grid-template-rows: 250px 250px;
  margin: 20px 0 0 5px;
}
.retoque {
  width: 300px;
  border: #d1ffa2 solid 5px;
}

.cuadrado_2 {
  display: grid;
  grid-template-columns: 155px 155px;
  grid-template-rows: 250px 250px;
  margin: 20px 0 0 0;
}
.cuadrado_2 div {
  margin: 5px;
}
.cuadrado_3 {
  display: grid;
  grid-template-columns: 310px;
  grid-template-rows: 125px 125px 125px 125px;
  margin: 20px 20px 0 0;
}
.suscribete {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input0 {
  width: 179px;
  height: 50px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  padding-left: 12px;
  border: #c4c4c4 solid 1px;
}
.but1 {
  width: 127px;
  height: 52px;
  border: 0;
  color: #ede2fa;
  background: #6d0ad3;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  font-weight: 700;
}

.z:hover {
  border: #5a0cb0 solid 5px;
  border-radius: 5px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}
/* seccion 5 */
.seccion-5 {
  height: 530px;
  margin-top: 100px;
}
.seccion-5 h2 {
  color: #0098ef;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario div {
  margin: 10px;
}
.formulario textarea,
select,
input {
  border: none;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  width: 291px;
  height: 55px;
  padding-left: 15px;
  border: #c4c4c4 solid 1px;
}
.formulario textarea {
  margin-top: 7px;
  width: 619px;
  height: 136px;
  resize: none;
  padding: 12px 0 0 15px;
}
.but {
  width: 144px;
  height: 57px;
  background: #6d0ad3;
  font-weight: 700;
  color: #ede2fa;
  font-size: 16px;
  margin: 10px 0 49px 0;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.a {
  margin: 10px;
}
.input11:hover {
  border: #580aaf solid 3px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}
.input12:hover {
  border: #580aaf solid 3px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}
.input13:hover {
  border: #580aaf solid 3px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}
.input14:hover {
  border: #580aaf solid 3px;
  cursor: url("./img/img-section-4/Vector.png"), auto;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: #00cf95 1px solid;
}
.header_footer {
  margin-top: 30px;
  padding: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_footer p {
  color: #00cf95;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  margin-left: 110px;
}
.cont_nav {
  margin-top: 30px;
}
.cont_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cont_nav ul li {
  list-style: none;
  margin-left: 20px;
}
li:hover {
  cursor: url("./img/img-section-4/Vector.png"), auto;
  color: #00cf95;
  border-bottom: #00cf95 solid 3px;
}
.footerx2 {
  margin-top: 60px;
}

@media (max-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
